$mainColor: pink

$smaller-screen: 650px

.arrows
  display: flex
  justify-content: center

.arrow-left:hover
  background-color: $mainColor
  border: black

.media-gallery-img
  height: 400px
  width: auto
  display: flex
  align-self: center
  margin: 20px
  @media (min-width: $smaller-screen)
    height: 500px
